*{
  box-sizing: border-box;
}

body {
    background: rgb(85, 144, 189);
    text-align: center;
  }

.numero, .attack, .defense{
display: none;
  }
  .numero2, .attack2, .defense2{
    display: none;
      }
  #cards1{
    display: inline;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  }
  
  
  
  .name, .name2 {
    text-transform: capitalize;
    font-weight: bold;
    /* font-size: 1.2rem; */
    font-size: 6vw;
  }
 

#template{
  margin: 2%;
}


  #icon{
    width: 3vw;
    cursor: pointer;
  }

  :root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;

    
  }

  .dark-theme{
    --primary-color:#000106;
    --secondary-color:#fff;
  }

  body{
    background: var(--primary-color) ;
  }
  #template, #template2{
    background: var(--primary-color) ;

  }
  .card, .card2{
    background: var(--primary-color) ;

  }
  #cards1, #cards2{
    background: var(--primary-color) ;

  }
  /* p{
   color:var(--secondary-color);

  }
  button{
   color:var(--secondary-color);

  } */

/* .card{
  width: 30%;
} */
img{
  width: 50vw;
}
 

  .newCards3{
  
    background-color: aqua;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 10%;

  }

  .template3 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    
  }
  

  .close {
    color: white;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .card3{
    display: block;
    background-color: aquamarine;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(5%, 5%);
    padding: 5%;
}
.card2{
  display: block;
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(7px, 10%);
}
#cards3 p{
  font-size: 5.5vw;
}
button, .buscar{
  font-size: 3vw;
}
.containerPkm{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  
}
.datosPkm{
  line-height: 8vw;
}
@media only screen and (min-width:601px) {
 
  .card{
    width: 45%;
    background: azure;
    margin: 1%;
  }
  #cards1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  img{
    width: 40vw;
  }
  .card3{
    display: block;
    background-color: aquamarine;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translate(5%, 5%);
    padding: 5%;
}
.card3 img{
  width: 50vw;
}
.name, .name2 {
  
  font-size: 2vw;
}
button, .buscar{
  font-size: 1vw;
}
/* #cards3 p{
  font-size: 1.5vw;
} */

}
@media only screen and (min-width:768px){
  .containerPkm{
    display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
  }
  .card3 img{
    width: 25vw;
  }
    #cards3 p{
    font-size: 3.5vw;
  }
  .datosPkm{
    line-height: 6vw;
  }
}
@media only screen and (min-width:992px) {
  .card{
    width: 30%;
  }
 img{
  width: 25vw;
 }
 /* .card3 img{
  width: 25vw;
}
  #cards3 p{
  font-size: 3.5vw;
} */
}